body{
    margin: 0;
    padding: 0;
   
    display: flex;
    max-height: fit-content;
  justify-content: center;
  background-image: url(pictures/stripes-dark-purple-6o-1920x1080.jpg);
}
.Section{
   
   grid-template-areas: 'section section'
                            'section section';
                            

}
.Section1{
   
    grid-area: 'Section1';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120vh;
    height: 100vh;
    border-radius: 20px;
    margin-bottom: 50px;
    background-color: rgba(137, 43, 226, 0.295);
    box-shadow: 0 5px 5px 10px blueviolet;
    grid-template-areas: 'about me about me'
    'about about';
   
}
.Section2{

    grid-area: 'Section2';
    border-radius: 20px;
    width: 120vh;
    height: 110vh;
    margin-bottom: 50px;
    background-color: rgba(137, 43, 226, 0.295);
    box-shadow: 0 5px 5px 10px blueviolet;
}
.Section3{
   
    grid-area: 'Section3';
    border-radius: 20px;
    width: 120vh;
    height: 130vh;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgba(137, 43, 226, 0.295);
    box-shadow: 0 5px 5px 10px blueviolet;
}


.navbar {
    overflow: hidden;
    background-color: #333;
    position:fixed;
    left: 7;
    margin-top: 10em;
    border: solid black 2px;
    transition: all 2s ease-in;
    border-radius: 50px;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    
    text-decoration: none;
    transition: all 0.5s ease-in;
  }
  
  .dropdown {
    float:right;
    overflow: hidden;
    

  }
  
  .dropdown .dropbtn {
   
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    padding-right: 35px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 30px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
   
    background-color: red;
 
  }
  
  .dropdown-content {
    transition: all 2s ease-in;
    display: none;
    position: absolute;
    background-color: #d277e433;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: rgba(253, 249, 249, 0.281);
    padding: 12px 12px;
   padding-left:30px ;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: all 2s ease-out;
  }
  .typewrite{
    background-color: purple;
    color: white;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
   
  }
  
  .dropdown:hover .dropdown-content {
    transition-delay: 2s;
    position: relative;
    display: block;
  }



  .typewriter h1 {
  color: #fff;
  font-family: monospace;
  font-size: 45px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end ;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

.About{
 
  height: 40em;
  width: 40em;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(137, 51, 218, 0.61);
  margin-left: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: aliceblue;
}
.Frontend{
  display: flex;
 width: 100%;
  height: 10em;
  background-color: #ffffffd0;

    border-radius: 20px;
 align-items: center;
}
.Frontend:hover{
   
  background-color: #dddddd00;
  transition: all 1.2s ease-out;
}
.Backend{
  margin-top: 50px;
  display: flex;
 width: 100%;
  height: 10em;
  background-color: #ffffffd0;

    border-radius: 20px;
 align-items: center;
}
.Backend:hover{
   
  background-color: #dddddd00;
  transition: all 1.2s ease-out;
}

.General-skills{
  margin-top: 50px;
  display: flex;
 width: 100%;
  height: 35em;
  background-color: #ffffffd0;

    border-radius: 20px;
 align-items: center;
 justify-content: center;
}
.General-skills:hover{
   
  background-color: #dddddd00;
  transition: all 1.2s ease-out;
}

.heading{
  font-size: 90px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: blue;
position: absolute;
  margin-left:19.8% ;
}
.heading1{
  font-size: 90px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: blue;
position: absolute;
  margin-left:13% ;
}
.heading2{
  font-size: 90px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: blue;
position: absolute;
  margin-left:1% ;
}
.picture{
 display: grid;
  grid-template-areas: 'img img img img img ';
 margin-left: 40px;

 
}
img{
  width: 100%;
  height: fit-content;
}
.img1{
  position:relative;
  z-index: -1;
  grid-area: 'img1';
  width:150px;
  height: 150px;
  padding: 50px;
  
}

.picture1{
 display: grid;
  grid-template-areas: 'img img img img img ';
 margin-left: 30px;

 
}
.img2{
  position:relative;
  z-index: -1;
  grid-area: 'img2';
  width:120px;
  height: 120px;
  padding: 50px;
  
}



.picture2{
 display: grid;
  grid-template-areas: 'img img img img img '
                        'img img img img img';
                        
 margin-left: 20px;

 margin-top: 10px;
}
.img3{
  
  position:relative;
  z-index: -1;
  grid-area: 'img3';
  width: 120px;
  height: 120px;
  padding: 30px;
 
  
}



